/*
 * Dropzone CSS
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */

.dropzone {
    &,
    * {
        box-sizing: border-box;
    }
    position: relative;
    min-height: 150px;
    border: 2px dashed @border_color;
    background: @white;
    padding: 16px;
    border-radius: 3px;
    &.dz-clickable {
        cursor: pointer !important;
        * {
            cursor: default;
        }
        .dz-message,
        .dz-message * {
            cursor: pointer;
        }
    }
    &.dz-started .dz-message {
        display: none;
    }
    &.dz-drag-hover {
        border-style: solid;
        .dz-message {
            opacity: 0.5;
        }
    }
    .dz-message {
        text-align: center;
        margin: 2em 0;
    }
    .dz-preview {
        position: relative;
        display: inline-block;
        width: 120px;
        vertical-align: top;
        margin: 16px;
        min-height: 100px;
        &:hover {
            z-index: 1000;
            .dz-details {
                opacity: 1;
            }
            .dz-image img {
                transform: scale(1.05, 1.05);
                filter: blur(8px);
            }
        }
        .dz-image {
            border-radius: 20px;
            overflow: hidden;
            width: 120px;
            height: 120px;
            position: relative;
            display: block;
            z-index: 10;
            cursor: default;
            img {
                display: block;
            }
        }
        .dz-details {
            z-index: 20;
            position: absolute;
            top: 20%;
            left: 0;
            opacity: 0;
            font-size: 12px;
            min-width: 100%;
            max-width: 100%;
            padding: 4px;
            text-align: center;
            color: rgba(0, 0, 0, 0.9);
            .dz-size {
            }
            .dz-filename {
                white-space: nowrap;
                &:not(:hover) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &:hover {
                    span {
                        border: 1px solid @border_color !important;
                    }
                }
            }
            .dz-filename span,
            .dz-size span {
                display: inline-block;
                background-color: rgba(255, 255, 255, .6);
                border-radius: 3px;
                margin-bottom: 8px;
                padding: 0 4px;
                font-size: 12px;
                height: 18px;
                line-height: 16px;
                border: 1px solid transparent;
            }
        }
        &.dz-file-preview {
            .dz-image {
                border-radius: 20px;
                background: #999;
                background: linear-gradient(to bottom, #eee, #ddd);
            }
            .dz-details {
                opacity: 1;
            }
        }
        &.dz-image-preview {
            background: white;
            .dz-details {
                transition: opacity 0.2s linear;
            }
        }
        .dz-remove {
            font-size: 12px;
            text-align: center;
            display: block;
            cursor: pointer;
            border: none;
            text-transform: uppercase;
            margin-top: 4px;
            &:hover {
                text-decoration: underline;
            }
        }
        .dz-progress {
            display: block;
            border: 1px solid @border_color;
            opacity: 1;
            z-index: 1000;
            pointer-events: none;
            position: absolute;
            height: 16px;
            left: 50%;
            top: 50%;
            margin-top: -8px;
            width: 80px;
            margin-left: -40px;
            background: rgba(255, 255, 255, 0.9);
            border-radius: 8px;
            overflow: hidden;
            .dz-upload {
                display: block;
                height: 100%;
                width: 0;
                background: #333;
                background: linear-gradient(to bottom, #666, #444);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                transition: width 300ms ease-in-out;
            }
        }
        &.dz-processing .dz-progress {
            opacity: 1;
            transition: all 0.2s linear;
        }
        &.dz-complete .dz-progress {
            opacity: 0;
            transition: opacity 0.4s ease-in;
        }
        &:not(.dz-processing) .dz-progress {
            animation: pulse 6s ease infinite;
        }
        .dz-error-message {
            pointer-events: none;
            z-index: 1000;
            position: absolute;
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease;
            border-radius: 4px;
            font-size: 13px;
            top: 130px;
            left: -10px;
            width: 140px;
            background: @danger_color;
            padding: 8px;
            color: @white;
            word-break: break-word;
            &:after {
                content: '';
                position: absolute;
                top: -6px;
                left: 64px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid @danger_color;
            }
        }
        &.dz-error .dz-error-message {
            display: block;
            &:hover .dz-error-message {
                opacity: 1;
                pointer-events: auto;
            }
        }
        &.dz-error .dz-error-message,
        &.dz-error .dz-error-mark {
            opacity: 1;
            display: block;
            animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        }
        &.dz-success .dz-success-mark {
            display: block;
            animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
        }
        .dz-error-mark,
        .dz-success-mark {
            position: absolute;
            width: 54px;
            height: 58px;
            left: 50%;
            margin-left: -27px;
            margin-top: -27px;
            pointer-events: none;
            opacity: 0;
            z-index: 500;
            display: block;
            top: 50%;
            svg {
                display: block;
                width: 54px;
                height: 54px;
            }
        }
    }
}

@keyframes passing-through {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    30%, 70% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}
@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    30% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(1);
    }
}
